.Dictionary .container{
    margin-top: 20px;
    background-color: #C5D5FE;
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
}
.Dictionary .submit-form{
    height: 38px !important;
    font-size: 12px;
    padding-left: 10px;
    border-radius: 10px !important;
}
.Dictionary .pictures .titleForImageSection{
    text-align: left;
    text-transform: capitalize;
}
.Dictionary .pictures .images{
    text-align: left;
}
.Dictionary .pictures .images .image{
    max-width: 150px;
    margin: 10px;
    border-radius: 10px;
}