.Dictionary .container{
    margin-top: 20px;
    background-color: #C5D5FE;
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
}
.submit-form{
    height: 38px !important;
    font-size: 12px;
    padding-left: 10px;
}